/* group_d_material.css

Description: default css for group d feature

Team 1 Group B

Created by: Jordan Tseng, 2014-06-17

Programmers: Jordan Tseng

Changes:

2014-07-05  Rename file title to all lower case

Known bugs: 
None
*/

tr
{
	border-bottom: 1px solid lightgray;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

button {
  font: bold 84% 'trebuchet ms',helvetica,sans-serif;
  border-color: #000 #000 #000 #000;
}